# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/

# Model weights
*.pt

# Images and results
*.jpg
*.png

# System files
.DS_Store
Thumbs.db

# Ultralytics cache/config
Ultralytics/
tmp/
