# Virtual environment
.venv/

# Model weights
*.pt

# Cache
__pycache__/
*.pyc
Ultralytics/
tmp/
*.log

# Images and results
*.jpg
*.jpeg
*.png
*.webp
*.bmp
*.gif
*.mp4
*.avi

# Windows system files
*.Identifier
.DS_Store
Thumbs.db
